<div class="video-container" (mousemove)="showControls()">
  <video #videoPlayer width="640" height="360" (click)="togglePlay()"  (timeupdate)="updateProgress()"></video>

  
  <div class="custom-controls" [class.visible]="controlsVisible">
    
    <button (click)="togglePlay()">
      <span *ngIf="!isPlaying">▶️</span>
      <span *ngIf="isPlaying">⏸️</span>
    </button>

    
    <div class="volume-control">
      <button (click)="toggleMute()">
        <span *ngIf="!isMuted && currentVolume > 0.5">🔊</span>
        <span *ngIf="!isMuted && currentVolume > 0 && currentVolume <= 0.5">🔉</span>
        <span *ngIf="isMuted || currentVolume === 0">🔇</span>
      </button>
      <input type="range" min="0" max="1" step="0.01" [(ngModel)]="currentVolume" (input)="changeVolume($event)" class="volume-slider" />
    </div>

    <div class="progress-bar" (click)="seek($event)">
      <div class="progress" [style.width.%]="progress"></div>
    </div>

    <select (change)="changeQuality($event)" class="quality-selector">
      <option [value]="-1" [selected]="currentQuality === -1">Auto</option>
      <option *ngFor="let quality of availableQualities" [value]="quality.level">
        {{ quality.label }}
      </option>
    </select>
    <button (click)="toggleFullscreen()">🔳</button>
  </div>
</div>






