@use '../../styles/mixins.scss' as *;

header{
  width: 100%;
  @include display(flex, row, space-between, center);
  height: 108px;
  padding: 0 96px;
  @media (max-width:750px){
    padding: 0 20px;
    height: 72px;
  }
}

img{
  width: 200px;
  height: 32px;

  &:hover{
    cursor: pointer;
    scale: 1.05;
    transition: 125ms;
  }
}

.logo-short{
  height: 48px;
  width: 48px;
}

mat-icon{
  font-size: 32px;
  height: auto;
  width: auto;
  color: white;
  cursor: pointer;
  &:hover{
    cursor: pointer;
    scale: 1.05;
    transition: 125ms;
  }
}

.logout{
  font-size: 20px;
}

button{
  gap: 12px
}