<div class="form-container form-login">

  <h1 class="form-title">Imprint</h1>

  <p class="p-forgot">
    Imprint: <br>
    Responsible for the content: <br>
    Paul-Mihail Ivan
    Hauptstraße 30 <br>
    4222 Langenstein <br>
    <div class="links">
    <a class="link" href="mailto:info&#64;paul-ivan.com">📧 info&#64;paul-ivan.com</a><br>
    <a class="link" href="https://paul-ivan.com/" target="_blank">Portfolio</a><br>
    <a class="link" href="https://github.com/NaviPlaut" target="_blank">My GitHub</a><br>
    </div>
  

</div>
