<div class="form-container form-login">

  <h1 class="form-title">Legal notice</h1>

  <p class="p-forgot">
    <span>Legal notice:</span>
    <span>Responsible for the content:</span> 
    <span>Paul-Mihail Ivan</span>
    <span>Hauptstraße 30</span> 
    <span>4222 Langenstein</span> 
    <div class="links">
    <a class="link" href="mailto:contact&#64;paul-ivan.com">📧 contact&#64;paul-ivan.com</a><br>
    <a class="link" href="https://paul-ivan.com/" target="_blank">Portfolio</a><br>
    <a class="link" href="https://github.com/NaviPlaut" target="_blank">My GitHub</a><br>
    </div>
  

</div>
