
<div class="form-container">
  <form class="form-login" [formGroup]="registerForm">
    <h1 class="form-title">Sign up</h1>
    <div class="formField">
      <input type="email" placeholder="Email address" formControlName="email">
      <mat-icon>email</mat-icon>
      @if (emailControl.invalid && emailControl.touched) {
        <p class="error-message">
          @if (emailControl.hasError('required')) { Email is required. }
          @if (emailControl.hasError('pattern')) { Please enter a valid email address. }
        </p>
      }
    </div>
    <div class="formField">
      <input type="{{ showPassword ? 'text' : 'password' }}" placeholder="Enter a password" formControlName="password"
        #password>
      <mat-icon class="visible" (click)="showPassword = !showPassword">{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
      @if (passwordControl.invalid && passwordControl.touched) {
        <p class="error-message">
          @if (passwordControl.hasError('required')) { Password is required. }
          @if (passwordControl.hasError('pattern')) { Min. 8 letters, 1 uppercase and 1 number. }
        </p>
      }
    </div>
    <div class="formField">
      <input type="{{ showRepeatedPassword ? 'text' : 'password' }}" placeholder="Confirm password" formControlName="repeated_password"
        #password>
      <mat-icon class="visible" (click)="showRepeatedPassword = !showRepeatedPassword">{{ showRepeatedPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
      @if (registerForm.errors?.['passwordMismatch'] && (registerForm.dirty || registerForm.touched)) {
        <div class="error-message">
          Passwords do not match.
        </div>
      }
    </div>

  </form>
  <div class="form-footer"> 
    <button class="default" type="submit" [disabled]="!registerForm.valid">Get started</button>
  </div>
</div>
