@use '../shared/styles/mixins.scss' as *;

section{
  @include display(flex, column, flex-start, center);
  width: 100%;
  max-width: 100vw;
  background-color: #141414;
  height: 100%;
  overflow: hidden;
  position: relative;
}

app-header, app-footer{
  max-width: 1920px;
}

app-footer{
  position: absolute;
  bottom: 0;
}

app-header{
  z-index: 9999;
  position: absolute;
}


app-video-list{
  overflow-y: scroll;
  scrollbar-width: none;
  padding-bottom: 50px;
}


