<div class="form-container">
  <form [formGroup]="loginForm" class="form-login" (submit)="login()">
    <h1 class="form-title">Log in</h1>
    <div class="formField">
      <input type="email" placeholder="Email address" formControlName="email">
      <mat-icon>email</mat-icon>
    </div>
    <div class="formField">
      <input type="{{ showPassword ? 'text' : 'password' }}" placeholder="Password" formControlName="password"
        #password>
      <mat-icon (click)="showPassword = !showPassword">{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
    </div>
  </form>
  <div class="form-footer">
    <label for="rememberMe" class="custom-checkbox">
      <input type="checkbox" id="rememberMe" [(ngModel)]="rememberMe"> 
      <span class="checkbox"></span>
      Remember me
    </label>
    <button class="default" [disabled]="!loginForm.valid" type="submit">Log in</button>
    <strong routerLink="/forgot-password">Forgot your password?</strong>
    <div class="extra-link">
      <span> New to Videoflix? </span>
      <strong routerLink="/sign-up">Sign Up now</strong>
    </div>
  </div>
</div>